.navbar_list {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: sticky;
    top: 0;
}

.navbar_list a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}

/* sinistra */
.navbar_left {
    float: left;
}

.navbar_left > * {
    float: left;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
}

.navbar_left >:hover {
    background-color: #111;
    opacity: 0.4;
}

/* destra */
.navbar_right {
    float: right;
}

.navbar_right > * {
    float:left;
    text-align: center;
    vertical-align: middle;
    padding: 14px 16px;
    font-weight: bold;
}

.navbar_right > :hover {
    background-color: #111;
    opacity: 0.4;
}

/* altro */

#navbar_datetime {
    color: lightgray;
    font-weight: bold;
}

#navbar_avatar {
    height:1em;
    padding: 0 16px;
}

.active {
    background-color: #04AA6D;
}