nav {
    width: 100%;
    overflow: auto;
}

nav > * {
    padding: 1em;
    color: white;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
}

.navbar_left {
    float: left;
}

.navbar_right {
    float: right;
}

nav a:hover  {
    background-color: #000;
}

.active {
    background-color: #04AA6D;
}

#navbar_datetime {
    color: lightgray;
    font-weight: normal;
}

.navbar_nopadding {
    padding: 0.25em 1em !important;
}

/* forzo altezza massima così sta bene nella navbar */
.navbar_logo {
    max-height: 2.5em;
}

/* dimensione forzata */
.navbar_avatar {
    height: 2.5em;
    width: 2.5em;
}

/* metto un elemento per riga quando lo schermo è abbastanza piccolo, il cambio di stile della navbar combacia col cambio
    di stile dei flex item
 */
@media screen and (max-width: 50em) {
    .navbar_left,.navbar_right {
        float: none;
        display: block;
    }
}