.step_item {
    text-align: start;
}

.step_visibility {
    opacity: 0;
}

/* pulsante upload */
.content_file {
    display: none;
}
.content_file_upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.create_input {
    width: 75%;
}