table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

tr {
    background-color: var(--secondary_variant);
    color: var(--onsecondary);
}

tr:nth-child(1) {
    background-color: var(--secondary);
    color: var(--onsecondary);
}