.generator_main {
    width: 75%;
    margin: auto;
}

section.slots {
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
}
.icons {
    font-size: 30px;
    text-align: center;
    margin:10px;
    color: var(--onprimary);
}

#button_generate {
    margin-top: 1em;
}