.view_content {
    max-width: 75vh;
    max-height: 50vh;
    margin-bottom: 1em;
}

.info_content {
    display: block;
    margin: 1em 0;
    color: var(--secondary);
    font-style: italic;
}

#itsyou {
    color: var(--link);
}

.downloadcontent::before {
    content: "\a\a";
    white-space: pre;
}

.chosenrating {
    background-color: yellowgreen;
}

.description {
    background-color: var(--primary_variant);
    padding:10px;
}

.description p {
    color: var(--onprimary)
}