.view_content {
    max-width: 75vw;
    max-height: 50vh;
    margin-bottom: 1em;
}

.info_content {
    display: block;
    margin: 1em 0;
    color: var(--secondary);
    font-style: italic;
}

#itsyou {
    color: var(--link);
}

.comment_section {
    max-width:50vw;
}

.comment {
    margin: 5px;
    border: 2px solid white;
    padding: 5px;

    overflow:hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.text {
    width: 50%;
}

#comment_form {
    margin-bottom: 1em;
}